.gitignore
.eslintignore
contributing.md
shared.webpack.config.js
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
.vscode/**
.github/**
build/**
images/**
playgrounds/**
history/**

client/*
!client/dist
client/dist/*
client/dist/package.json
!client/dist/extension.js

server/*
!server/dist
server/dist/*
server/dist/package.json
!server/dist/server.js